@import "variables";
@import "mixin";


html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: $VeryDarkCyan;
    h1, h2, h3, h4{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
    main{
        margin: 5.5vw 4.5vw;

        header{
            display: flex;
            justify-content: space-between;
            .logo{
                margin-left: 10px;
                background-image: url(../../images/logo.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 240px;
                height: 39px;
                @include breakpoint-down(small){
                    width: 120px;
                    height: 20px;
                    background-size: contain;
                }
            }
            .cta{
                border: solid 2px $Pink;
                padding: 8px 30px;
                border-radius: 20px;
                @include breakpoint-down(small){
                    padding: 4px 15px;
                    font-size: 12px;
                }
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
                a{
                    text-decoration: none;
                    line-height: 1;
                    color: $Pink;
                }
            }
        }
        .hero{
            text-align: center;
            margin-top: 15.5vw;
            display: flex;
            flex-direction: column;
            
            align-items: center;
            h1{
                font-size: 48px;
                color: $VeryDarkCyan;
                @include breakpoint-down(small){
                    font-size: 30px;
                }
            }
            p{
                display: block;
                margin-top: 25px;
                max-width: 620px;
                line-height: 1.5;
                color: $VeryDarkCyan;
                font-size: 20px;
                @include breakpoint-down(small){
                    font-size: 18px;
                }
            }
            .cta{
                background-color: $Pink;
                padding: 28px;
                width: 400px;
                border-radius: 40px;
                margin-top: 42px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transition: opacity 200ms linear;
                @include breakpoint-down(small){
                    width: 90%;
                    padding: 14px;
                }
                &:hover{
                    cursor: pointer;
                    opacity: 0.6;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 19px;
                    font-weight: 700;
                    @include breakpoint-down(small){
                        font-size: 16px;
                    }
                }
            }
            .hero_image{

                width: 100%;
                height: 52vw;
                background-image: url(../../images/screen-mockups.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-top: 110px;
            }
        }
       
    }
    .stats{

        display: flex;
        justify-content: center;

        gap: 335px;
        margin-top: 110px;
        background-image: url(../../images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding-bottom: 300px;
        @include breakpoint-down(medium){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }
        @include breakpoint-down(small){
            background-image: url(../../images/bg-section-top-mobile-1.svg);
        }
        .stat{
            &:nth-child(2){
                .stat_icon{
                    width: 48px;
                    height: 40px;
                    background-image: url(../../images/icon-messages.svg);
                }
            }
            &_icon{
                background-image: url(../../images/icon-communities.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 47px;
                height: 41px;
            }
            h2{
                font-size: 95px;
                font-family: 'Open Sans', sans-serif;
            }
            p{
                text-align: center;
                font-size: 25px;
                margin-top: 10px;
            }
        }
    }
    .sections{
        .section{
            &:nth-child(1){
                background-color: $VeryPaleBlue;
                height: 37vw;
                @include breakpoint-down(medium){
                    min-height: 700px;
                }
            }
            &:nth-child(2){
                background-color: white;
                background-image: url(../../images/bg-section-bottom-desktop-1.svg), url(../../images/bg-section-top-desktop-2.svg);
                background-position: top, bottom;
                flex-direction: row-reverse;
                height: 68vw;
                padding-top: 3vw;
                @include breakpoint-down(small){
                    height: 300px;
                    background-image: url(../../images/bg-section-bottom-mobile-1.svg), url(../../images/bg-section-top-mobile-2.svg);
                }
                .section_image{
                    background-image: url(../../images/illustration-flowing-conversation.svg);
                }
            }
            &:nth-child(3){
                background-color: $VeryPaleBlue;
                height: 34vw;
                .section_image{
                    background-image: url(../../images/illustration-your-users.svg);
                }
            }

            display: flex;
            height: 70vw;
            background-repeat: no-repeat;
            background-size: contain;
            @include breakpoint-down(small){
                flex-direction: column;
            }
            
            &_text{

                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 9vw;
                padding-right: 5vw;
                h3{
                    font-size: 40px;
                    margin-bottom: 20px;
                }
                p{

                }
            }
            &_image{

                width: 50%;
                background-image: url(../../images/illustration-grow-together.svg);
                background-repeat: no-repeat;
                background-position: 30% 50%;
                background-size: 70%;
            }

        }
    }
    .cta_section{
        min-height: 30vh;
        background-image: url(../../images/bg-section-bottom-desktop-2.svg), url(../../images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top, bottom;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 21vw;
        padding-bottom: 23.5vw;
        h3{
            font-size: 40px;
            margin-bottom: 35px;
        }
        .cta{
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
            transition: opacity 200ms ease-in-out;
            background-color: $Pink;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 100px;
            border-radius: 45px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            a{
                text-decoration: none;
                line-height: 1;
                color: white;
                font-weight: 700;
                font-size: 20px;
            }
        }
    }
    footer{
        padding: 120px;
        padding-top: 120px;
        background-color: $VeryDarkCyan;
        color: white;
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "A B"
        "C B"
        "E B";
        .logo{
            grid-area: A;
            width: 240px;
            height: 39px;
            background-image: url(../../images/logo_copy.png);
            background-position: center;
            background-repeat: no-repeat;
        }
        .infos{
            margin-top: 25px;
            grid-area: C;
            width: 55%;
            line-height: 1.4;
            .location{

            }
            .telefon{
                display: flex;
                margin-top: 30px;
                gap: 15px;
            }
            .mail{
                display: flex;
                margin-top: 20px;
                gap: 15px;
            }
        }
        .social_icons{
            display: flex;
            grid-area: E;
            font-size: 35px;
            margin-top: 70px;
            gap: 20px;
        }
        .newsletter_form{
            grid-area: B;
            margin-left: 20px;
            h4{
                font-size: 22px;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                width: 67%;
                line-height: 1.5;
                font-weight: 600;
            }
            .form{
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                height: 50px;
                input{
                    height: 100%;
                    width: 62%;
                    border-radius: 5px;
                }
                button{
                    width: 31%;
                    height: 100%;
                    border-radius: 5px;
                    color: white;
                    font-weight: 700;
                    background-color: $Pink;
                    font-size: 17px;
                    border: none;
                }
            }
        }
    }
    
}

//helperClass to hide/show element

.hideForMobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hideForDesktop{
    @include breakpoint-up(large){
        display: none;
    }
}
